@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "coffeetin";
  src: url("/fonts/CoffeetinInitials-YXJ2.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: center;
  background-image: url("/images/Blackjack.jpg");
  background-size: cover;
  color: white;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}
.display-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row;
  height: 55px;
  margin-bottom: 20px;
}

h1 {
  color: goldenrod;
  font-size: 100px;
  margin-bottom: 0;
  font-family: "coffeetin";
  font-weight: 100;
  text-shadow: 4px 4px #d20202;
}
#message-display {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  text-shadow: 0 0 2px #000000;
}

#la-casa {
  text-shadow: 0 0 2px black;
  margin: 40px 0 auto auto;
  font-family: "coffeetin";
  font-weight: lighter;
  font-size: 30px;
}

button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 2px solid goldenrod;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}
button:hover {
  background-color: antiquewhite;
  color: #000000;
  border: 2px solid #000000;
}

.game-options,
.bet-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.cards-container {
  height: 200px;
  margin: 20px auto;
  width: 50%;
  background-color: #000000;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 6px solid goldenrod;
  border-style: double;
}
.dealers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  border: 6px solid goldenrod;
  border-radius: 6px;
  border-style: double;
  width: 50%;
  height: 200px;
  gap: 10px;
  background-color: #000000;
}

.card {
  width: 125px;
  height: 180px;
  background-size: cover;
  transition: 0.3s;
}
.card:hover {
  transform: perspective(500px) rotateX(10deg) rotateY(10deg);
}

@media (max-width: 640px) {
  body {
    font-size: 24px;
  }

  h1 {
    font-size: 80px;
  }

  #message-display {
    font-size: 30px;
  }

  #la-casa {
    font-size: 24px;
  }

  button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .game-options,
  .bet-btns {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
  .dealers-container {
    width: 70%;
    height: 180px;
    gap: 8px;
    border-width: 5px;
  }

  .cards-container {
    width: 70%;
    height: 180px;
    gap: 8px;
    margin-top: 30px;
    border-width: 5px;
  }

  .card {
    width: 100px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 40px;
  }

  #message-display {
    font-size: 24px;
  }

  #la-casa {
    font-size: 20px;
  }

  button {
    padding: 5px 10px;
    font-size: 10px;
  }

  .game-options,
  .bet-btns {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    max-width: 100%;
  }

  .cards-container {
    width: 80%;
    height: 150px;
    gap: 5px;
    margin-top: 20px;
    border-width: 4px;
  }
  .dealers-container {
    width: 80%;
    height: 150px;
    gap: 5px;
    border-width: 4px;
  }

  .card {
    width: 82px;
    height: 120px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 30px;
  }

  #message-display {
    font-size: 18px;
  }

  #la-casa {
    font-size: 16px;
  }

  button {
    font-size: 6px;
    padding: 6px 12px;
  }

  .game-options,
  .bet-btns {
    grid-template-columns: 1fr;
    grid-gap: 6px;
    max-width: 100%;
  }

  .cards-container {
    width: 90%;
    height: 130px;
    gap: 4px;
    margin-top: 15px;
    border-width: 3px;
  }

  .dealers-container {
    width: 90%;
    height: 130px;
    gap: 4px;
  }

  .card {
    width: 60px;
    height: 90px;
  }
}
